{% extends 'base.html' %}

{% block content %}
  <h1>Create a New Prediction</h1>
  <form method="post">
    <div>
      <label for="group">Group:</label>
      <select name="group_id" id="group" required>
        {% for group in user_groups %}
          <option value="{{ group.id }}">{{ group.name }} ({{ group.league }})</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="body">Prediction:</label>
      <textarea name="body" id="body" required></textarea>
    </div>
    <input type="submit" value="Submit Prediction">
  </form>
{% endblock %}