{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  
  <!-- Display user_requests table -->
  <h2>User Requests</h2>
  <table>
    <thead>
      <tr>
        <th>Position</th>
        <th>Author ID</th>
        <th>Author Name</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      {% for request in user_requests %}
        <tr>
          <td>{{ request.id }}</td>
          <td>{{ request.author_id }}</td>
          <td>{{ request.author.username }}</td>
          <td>{{ request.points }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr>

  <!-- Display blog posts -->
  <h2>My Posts</h2>
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
